<ul>
  <button>Generar contrato</button>
  <a href="#">Generar contrato</a>
  <a href="#">Generar contrato</a>
  <a href="#">Generar contrato</a>
  <a href="#">Generar contrato</a>
  <a href="#">Generar contrato</a>
  <a href="#">Generar contrato</a>
</ul>
