<section id="honorarios">
  <h2>Contrato - Honorarios</h2>
  <div class="columns">
    <div>
      <ul>
        <li>
          <input type="text" name="honorarios-total" id="honorarios-total" />
          <label for="honorarios-total">Total</label>
        </li>
        <li>
          <input type="text" name="cantidad-cuotas" id="cantidad-cuotas" />
          <label for="cantidad-cuotas">Cantidad de cuotas</label>
        </li>
      </ul>
      <ul>
        <li>
          <input type="text" name="valor-cuotas" id="valor-cuotas" />
          <label for="valor-cuotas">Valor de cuota</label>
        </li>
        <li>
          <input type="text" name="descuento-cuotas" id="descuento-cuotas" />
          <label for="descuento-cuotas">Descuento (%)</label>
        </li>
        <li>
          <input
            type="text"
            name="valor--descontadascuotas"
            id="valor-cuotas-descontadas"
          />
          <label for="valor-cuotas-descontadas"
            >Valor de cuota con descuento</label
          >
        </li>
      </ul>
      <ul>
        <li>
          <input
            type="date"
            name="primer-vencimiento"
            id="primer-vencimiento"
          />
          <label for="primer-vencimiento">Primer vencimiento</label>
        </li>
        <li>
          <input type="date" name="fecha-firma" id="fecha-firma" />
          <label for="fecha-firma">Fecha de firma</label>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <input type="checkbox" name="pda" id="pda" />
          <label for="pda">PDA</label>
        </li>
        <li>
          <input
            type="text"
            name="cantidad-cuotas-pda"
            id="cantidad-cuotas-pda"
          />
          <label for="cantidad-cuotas-pda">Cantidad de cuotas</label>
        </li>
        <li>
          <input type="text" name="valor-cuotas-pda" id="valor-cuotas-pda" />
          <label for="valor-cuotas-pda">Valor de cuotas</label>
        </li>
        <li>
          <select name="medio-de-pago" id="medio-de-pago">
            <option value="medio 1" selected>Galicia</option>
            <option value="medio 2">Santander</option>
          </select>
          <label for="medio-de-pago">Medio de pago</label>
        </li>
      </ul>
    </div>
  </div>
</section>
