<section>
  <h2>Parte demandada</h2>
  <ul>
    <li>
      <input type="text" name="demandado-nombre" id="demandado-nombre" />
      <label for="demandado-nombre">Nombre</label>
    </li>
    <li>
      <input type="text" name="demandado-apellido" id="demandado-apellido" />
      <label for="demandado-apellido">Apellido</label>
    </li>
    <li>
      <input
        type="text"
        pattern="[0-9]*"
        title="Numero de documento sin puntos"
        name="demandado-dni"
        id="demandado-dni"
      />
      <label for="demandado-dni">DNI</label>
    </li>
    <li>
      <input
        type="text"
        name="demandado-nacionalidad"
        id="demandado-nacionalidad"
      />
      <label for="demandado-nacionalidad">Nacionalidad</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="demandado-domicilio" id="demandado-domicilio" />
      <label for="demandado-domicilio">Domicilio</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="demandado-localidad" id="demandado-localidad" />
      <label for="demandado-localidad">Localidad</label>
    </li>
    <li>
      <input type="text" name="demandado-partido" id="demandado-partido" />
      <label for="demandado-partido">Partido</label>
    </li>
    <li>
      <input type="text" name="demandado-provincia" id="demandado-provincia" />
      <label for="demandado-provincia">Provincia</label>
    </li>
  </ul>
  <ul>
    <li>
      <input
        type="text"
        name="demandado-entrecalle"
        id="demandado-entrecalle"
      />
      <label for="demandado-entrecalle">Entrecalle</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="demandado-cod-pais" id="demandado-cod-pais" />
      <label for="demandado-cod-pais">Codigo de pais</label>
    </li>
    <li>
      <input type="text" name="demandado-cod-area" id="demandado-cod-area" />
      <label for="demandado-cod-area">Codigo de area</label>
    </li>
    <li>
      <input type="tel" name="demandado-telefono" id="demandado-telefono" />
      <label for="demandado-telefono">Telefono</label>
    </li>
    <li>
      <input type="tel" name="demandado-telefono-alt" id="demandado-telefono-alt" />
      <label for="demandado-telefono-alt">Telefono alternativo</label>
    </li>
  </ul>
</section>
