<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <title>Escritos</title>
  </head>
  <body>
    <div class="card pb-1" style="width: 40rem">
      <div class="card-header bg-primary-subtle">
        <h3 style="text-align: center">Escritos</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingInput"
              placeholder=""
            ></textarea>
            <label for="floatingInput">Alimentos</label>
          </div>
        </li>
        <li class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingInput"
              placeholder=""
            ></textarea>
            <label for="floatingInput">Comunicación</label>
          </div>
        </li>
        <li class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingInput"
              placeholder=""
            ></textarea>
            <label for="floatingInput">Cuidado Personal</label>
          </div>
        </li>
        <li class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingInput"
              placeholder=""
            ></textarea>
            <label for="floatingInput">Hijos</label>
          </div>
        </li>
        <li class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingInput"
              placeholder=""
            ></textarea>
            <label for="floatingInput">Bienes</label>
          </div>
        </li>
        <li class="input-group mb-3">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="floatingInput"
              placeholder=""
            ></textarea>
            <label for="floatingInput">Propuesta de Bienes</label>
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>Parte Actora</option>
              <option value="1">Parte Demandada</option>
              <option value="2">No contesta</option>
            </select>
            <label for="floatingInput">Atribución de vivienda conyugal</label>
          </div>
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>Provincia</option>
              <option value="1">CABA</option>
            </select>
            <label for="floatingInput">Matrícula</label>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
