<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <title>Escritos</title>
  </head>
  <body>
    <div class="card pb-1" style="width: 40rem">
      <div class="card-header bg-primary-subtle">
        <h3 style="text-align: center">Escritos</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex flex-row">
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Sobre</label>
          </div>
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>
                Almirante Brown 623 Piso 1 Departamento C
              </option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label for="floatingInput">Domicilio legal</label>
          </div>
        </li>
        <li class="card p-2" style="border: none">
          <div class="card-header">
            <h5 style="text-align: center">Ultimo domicilio conyugal</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex flex-row">
                <div class="form-floating m-1">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder=""
                  />
                  <label for="floatingInput"
                    >Calle, Numero, Piso, Departamento</label
                  >
                </div>
              </li>
              <li class="list-group-item d-flex flex-row">
                <div class="form-floating m-1">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder=""
                  />
                  <label for="floatingInput">Localidad</label>
                </div>
                <div class="form-floating m-1">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder=""
                  />
                  <label for="floatingInput">Partido</label>
                </div>
                <div class="form-floating m-1">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder=""
                  />
                  <label for="floatingInput">Provincia</label>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Fecha de matrimonio</label>
          </div>
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Separacion de hecho</label>
          </div>
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Registro Civil</label>
          </div>
        </li>
        <li class="list-group-item d-flex flex-direction-row">
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Acta</label>
          </div>
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Tomo</label>
          </div>
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Folio</label>
          </div>
          <div class="form-floating m-1">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
            />
            <label for="floatingInput">Año</label>
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>Partida de matrimonio</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label for="floatingInput">Prueba</label>
          </div>
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>Moron</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label for="floatingInput">Departamento Judicial</label>
          </div>
        </li>
        <li class="list-group-item d-flex flex-row">
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>Si</option>
              <option value="1">No</option>
              <option value="2">No sabe</option>
            </select>
            <label for="floatingInput">Conyuge firma</label>
          </div>
          <div class="form-floating m-1" style="width: 100%">
            <select class="form-control" id="floatingInput">
              <option selected>Domicilio DDA</option>
              <option value="1">UDC</option>
            </select>
            <label for="floatingInput">Radicacion</label>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
