.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 90%;
  margin: 1rem auto;
}

.section-group {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}