<section>
  <h2>Escritos</h2>
  <ul>
    <li>
      <input type="text" name="alimentos-text" id="alimentos-text" />
      <label for="alimentos-text">Alimentos</label>
      <input type="checkbox" name="alimentos-box" />
    </li>
    <li>
      <input type="text" name="comunicacion" id="comunicacion" />
      <label for="comunicacion">Comunicacion</label>
      <input type="checkbox" name="comunicacion-box" />
    </li>
    <li>
      <input
        type="text"
        name="cuidado-personal-text"
        id="cuidado-personal-text"
      />
      <label for="cuidado-personal-text">Cuidado Personal</label>
      <input type="checkbox" name="cuidado-personal-box" />
    </li>
    <li>
      <input type="text" name="hijos-text" id="hijos-text" />
      <label for="hijos-text">Hijos</label>
    </li>
    <li>
      <input type="text" name="bienes-text" id="bienes-text" />
      <label for="bienes-text">Bienes</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="bienes-text" id="bienes-text" />
      <label for="bienes-text">Bienes</label>
    </li>
  </ul>
  <ul>
    <li>
      <input
        type="radio"
        name="vivienda-conyugal"
        id="vivienda-conyugal-actor"
        value="actor"
      />
      <label for="vivienda-conyugal-actor">Actor</label>
      <input
        type="radio"
        name="vivienda-conyugal"
        id="vivienda-conyugal-demandado"
        value="demandado"
      />
      <label for="vivienda-conyugal">Demandado</label>
      <input
        type="radio"
        name="vivienda-conyugal"
        id="vivienda-conyugal-nc"
        value="nc"
      />
      <label for="vivienda-conyugal-nc">N/C</label>
    </li>
    <li>
      <input type="radio" name="matricula" id="matricula-caba" value="caba" />
      <label for="matricula-caba">CABA</label>
      <input type="radio" name="matricula" id="matricula-pcia" value="pcia" />
      <label for="matricula-pcia">PCIA</label>
    </li>
  </ul>
</section>
