<section>
  <h2>Parte actora</h2>
  <ul>
    <li>
      <input type="text" name="actor-nombre" id="actor-nombre" />
      <label for="actor-nombre">Nombre</label>
    </li>
    <li>
      <input type="text" name="actor-apellido" id="actor-apellido" />
      <label for="actor-apellido">Apellido</label>
    </li>
    <li>
      <input
        type="text"
        pattern="[0-9]*"
        title="Numero de documento sin puntos"
        name="actor-dni"
        id="actor-dni"
      />
      <label for="actor-dni">DNI</label>
    </li>
    <li>
      <input type="text" name="actor-nacionalidad" id="actor-nacionalidad" />
      <label for="actor-nacionalidad">Nacionalidad</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="actor-domicilio" id="actor-domicilio" />
      <label for="actor-domicilio">Domicilio</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="actor-localidad" id="actor-localidad" />
      <label for="actor-localidad">Localidad</label>
    </li>
    <li>
      <input type="text" name="actor-partido" id="actor-partido" />
      <label for="actor-partido">Partido</label>
    </li>
    <li>
      <input type="text" name="actor-provincia" id="actor-provincia" />
      <label for="actor-provincia">Provincia</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="text" name="actor-entrecalle" id="actor-entrecalle" />
      <label for="actor-entrecalle">Entrecalle</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="email" name="actor-correo" id="actor-correo" />
      <label for="actor-correo">Correo</label>
    </li>
    <li>
      <input type="text" name="actor-cod-pais" id="actor-cod-pais" />
      <label for="actor-cod-pais">Codigo de pais</label>
    </li>
    <li>
      <input type="text" name="actor-cod-area" id="actor-cod-area" />
      <label for="actor-cod-area">Codigo de area</label>
    </li>
    <li>
      <input type="tel" name="actor-telefono" id="actor-telefono" />
      <label for="actor-telefono">Celular</label>
    </li>
  </ul>
  <ul>
    <li>
      <input type="tel" name="actor-telefono-alt" id="actor-telefono-alt" />
      <label for="actor-telefono-alt">Telefono alternativo</label>
    </li>
    <li>
      <input
        type="text"
        name="actor-telefono-alt-who"
        id="actor-telefono-alt-who"
      />
      <label for="actor-telefono-alt-who">Pertenece a</label>
    </li>
  </ul>
  <ul>
    <li>
      <h3>Asistencia</h3>
      <div>
        <input
          type="radio"
          name="asistencia"
          id="conferencia"
          value="conferencia"
        />
        <label for="conferencia">Conferencia</label>
      </div>
      <div>
        <input type="radio" name="asistencia" id="rmkt" value="rmkt" />
        <label for="rmkt">RMKT</label>
      </div>
      <div>
        <input type="radio" name="asistencia" id="ninguno" value="ninguno" />
        <label for="ninguno">Ninguno</label>
      </div>
    </li>
    <li>
      <h3>M/F</h3>
      <div>
        <input type="radio" name="mf" id="m" value="m" />
        <label for="m">M</label>
      </div>
      <div>
        <input type="radio" name="mf" id="f" value="f" />
        <label for="f">F</label>
      </div>
    </li>
  </ul>
</section>
